/*
#telapdv{
  padding-top: 30px;
  display: flex;
  width: 400px;
  height: 400px;
  background-color: aqua;

}


#areavenda{
    padding-top: 30px;
    width: 350px;
    height: 400px;
    resize: none;
    float:right;

}

#telaprod{
  display: flex;  
  padding-left: 100px;
}


.col{
  height: 80px;
  background-color: beige;
}

#col4{

  height: 400px;
  background-color: beige;
}
#pagina{
  padding-top: 60px;
  display: flex;
  width: 100%;
  height: 600px;
  background-color: blanchedalmond;
}

#exampleModal{
  width: 900px;
}*/